.App {
  width: 600px;
  height: auto;
  margin: 0 auto;
}

form, .innercontainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  vertical-align: bottom;

}
.container {
  height: 80%;
  width: 100%;
  border: 2px inset black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
}
.innercontainer {
  display: flex;
  width: 80%;
  height: 10%;
  border: 2px outset black;
  margin: 5% 0%;
  border-color: blueviolet;
  background-color: aliceblue;

}
.addinput {
  flex: 4;
  margin: 10px;
  height: 50%;
  text-align: center;
  border:2px inset black;
  font-size: 16pt;
  background-color: aliceblue;
}
.addbtn {
  flex:1;
  margin: 10px;
  background-color: bisque;
  height:50%;
  font-size: 16pt;
}
.innercontainer > * {
  margin: 10px;
}
.tasklabel {
  font-size: 16pt;
  flex: 4;
  text-align: center;
  font-weight:800
}
.check {
  flex:1;
}
.dltbtn {
  flex: 1;
  font-size: 16pt;
  background-color: bisque;
}

